<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../static/dist/css/output.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="bg-page-black ">
    <h1 class="text-center text-255-red text-5xl" >WOAH SLOW UR ROLL POOKIE</h1>
    <h2 class="text-center text-white">The link you clicked is not not done /: soz</h2>
    <div class="flex">
    <img class="content-center" src="https://media1.tenor.com/m/RE4CopAURBMAAAAd/they-dont-love-u-like-i-love-u.gif"/>
    <img class="content-center" src="https://media1.tenor.com/m/RE4CopAURBMAAAAd/they-dont-love-u-like-i-love-u.gif"/>
    <img class="content-center" src="https://media1.tenor.com/m/RE4CopAURBMAAAAd/they-dont-love-u-like-i-love-u.gif"/>
    <img class="content-center" src="https://media1.tenor.com/m/RE4CopAURBMAAAAd/they-dont-love-u-like-i-love-u.gif"/>
    <img class="content-center" src="https://media1.tenor.com/m/RE4CopAURBMAAAAd/they-dont-love-u-like-i-love-u.gif"/>
    <img class="content-center" src="https://media1.tenor.com/m/RE4CopAURBMAAAAd/they-dont-love-u-like-i-love-u.gif"/>
</div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>